.backpack-wrapper {
	width: 100vw;
	height: 100vh;
	position: fixed;
	grid-template-columns: repeat(8, 12.5%);
	grid-template-rows: repeat(8, 12.5%);
	display: grid;
}

.backpack-container {
	border-radius: 100%;
	width: 100vw;
	height: 100vw;
	background: #23232c;
	overflow: hidden;
	grid-area: 1/1/9/9;
	display: inherit;
	grid-template-columns: repeat(8, 12.5%);
	grid-template-rows: repeat(8, 12.5%);
}

.backpack-contents {
	z-index: 2;
	background: #3c3c7d45;
	width: 100%;
	height: 90%;
	grid-area: 1/4/6/6;
	display: inline-flex;
	justify-content: space-evenly;
	flex-direction: column;
	align-items: center;
}

.backpack-background {
	width: 100%;
	grid-area: 1/1/9/9;
	z-index: 1;
}

.backpack-submissions {
	border-radius: 5vh 5vh 10vh 10vh;
	border: none;
	font-size: 2vw;
	font-family: Major Mono Display;
	text-align: center;
	box-shadow: 0 0 15px #ff0052;
	background: #fa0e5a85;
	cursor: pointer;
	transition: 1s;
	height: 4vw;
	line-height: 4vw;
	width: 22vw;
	&:hover {
		box-shadow: 0 0 15px #00ffdc;
		background: #0efae485;
	}
}
