/* ///////////// A N I M A T E D  B U T T O N S ///////////////////// */
/* ///////////// A N I M A T E D  V I E W ///////////////////// */
/* ///////////// A N I M A T E D  B U T T O N S ///////////////////// */
/* ///////////// A N I M A T E D  V I E W ///////////////////// */

@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400');
@import url('https://fonts.googleapis.com/css?family=Roboto:100');

.header {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 34px;
	margin-top: 12vh;
}
.footer {
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 20px;
	margin-top: 15vh;
}

a {
	color: #00ff95;
}

/* ///////////// A N I M A T E D  V I E W ///////////////////// */
/* ///////////// A N I M A T E D  V I E W ///////////////////// */
/* ///////////// A N I M A T E D  V I E W ///////////////////// */

/* ///////////// I F R A M E  V I E W ///////////////////// */
/* ///////////// I F R A M E  V I E W ///////////////////// */
/* ///////////// I F R A M E  V I E W ///////////////////// */

#starmapper_inner {
	display: block !important;
	width: 70vw !important;
	height: 114vh !important;
	cursor: move !important;
	border-radius: 200% !important;
}

/* ///////////// I F R A M E  V I E W ///////////////////// */
/* ///////////// I F R A M E  V I E W ///////////////////// */
/* ///////////// I F R A M E  V I E W ///////////////////// */
